.footer {
    align-content: center;
    justify-content: space-evenly;
    border-top: 1px solid rgba(0, 0, 0, 0.26);
    font-size: 14px;
    height: 72px;
    display: flex;    
    align-items: center;
    width: 100%;
    background-color: white;
}

.footer-center ul {
    display: flex;
    list-style: none;
}

.footer-center li {
    margin-right: 20px;
}

.footer-center a {
    text-decoration: none;
    font-size: 14px;
}

.footer-center a:hover {
    color: #0099CC;
}

.footer-right .social-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-right .social-links li {
    margin-right: 10px;
}

.footer-right .social-icon img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.footer-right .social-icon img:hover {
    transform: scale(1.1);
}