.post-details{
    width: 100%;
    display: flex;
}

.comment-section {
    width: 70%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.comment-list {
    text-align: center;
    width: 100%;
}

.comment-item {
    display: flex;
    margin: 10px;
}

.user-info-container {
    width: 250px;
    background-color: #f5f5f5;
    padding: 10px;
    min-height: 250px;
    height: auto;
    box-sizing: border-box;
    overflow: visible;
    border: 1px solid rgba(0, 0, 0, 0.26);
}

.user-role {
    margin-top: 5px;
    opacity: 0.5;
}

.comment-content {
    width: 100%;
    background-color: #fefefe;
    padding: 10px 20px;
    min-height: 100px;
    height: auto;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.26);
    border-right: 1px solid rgba(0, 0, 0, 0.26);
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    box-sizing: border-box;
    overflow: visible;
    word-wrap: break-word;
    display: grid;
    grid-template-rows: 35px auto 30px;
}

.comment-content p {
    padding-bottom: 20px;
}

.comment-created-at {
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    opacity: .5;
    margin-bottom: 10px;
}

.comment-updated-at {
    text-align: right;
    margin-top: 10px;
    opacity: .5;
    border-top: 1px solid rgba(0, 0, 0, 0.26);
}

.comment-arrow {
    position: absolute;
    margin-left: 225px;
    margin-top: 40px;
    transform: rotateZ(45deg);
    width: 25px;
    height: 25px;
    background-color: #fefefe;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    border-left: 1px solid rgba(0, 0, 0, 0.26);
    z-index: 1;
}

.user-info-wrapper {
    justify-content: center;
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.user-display-name {
    font-size: 24px;
    color: #0099FF;
}

.comment-input {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    padding: 10px;
    width: 95%;
    margin: auto;
    height: 200px;
    outline: none;
    resize: none;
    background-color: rgba(0, 0, 0, 0.03);
}

.comment-input:focus {
    background-color: #FFFFFF;
}

.comment-form {
    text-align: right;
    display: block;
}

.comment-submit-button {
    border: none;
    background-color: #0099CC;
    color: #FFFFFF;
    width: 100px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.comment-submit-button:hover {
    background-color: #0099FF;
}

@media (max-width: 768px) {
    .user-info-container {
        width: 100%;
        border-bottom: none;
        text-align: left;
        padding-left: 25px;
        min-height: 200px;
        height: 200px;
    }

    .user-role {
        text-align: center;
        width: 100px;
    }

    .comment-content {
        width: 100%;
        min-height: 100px;
        border-left: 1px solid rgba(0, 0, 0, 0.26);
    }

    .comment-item {
        flex-direction: column;
    }

    .comment-arrow {
        margin-top: 176px;
        margin-left: 5%;
        margin-right: 50%;
        border: none;
        border-left: 1px solid rgba(0, 0, 0, 0.26);
        border-top: 1px solid rgba(0, 0, 0, 0.26);
    }
}